* {
    margin: 0;
    font-family: Avenir Light,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.38889;
    color: #333;
    text-align: left;
    background-color: #fff;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #4f81bd;
}

h2 {
    font-size: 1.2rem;
}

#completeButton {
    background-image: none !important;
    float: left;
    color: #fff !important;
    background-color: #4f81bd !important;
    border-color: #4f81bd !important;
    display: inline-block !important;
    font-family: Avenir Medium !important;
    /* font-weight: 400 !important; */
    /* color: #333; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1.5px solid transparent;
     padding: .5rem 1.25rem; 
    /* font-size: .875rem; */
    line-height: 1.38889;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    #completeButton span {
        background-color: #4f81bd !important;
        color: #fff !important;
    }

    #completeButton:hover {
        color: #fff;
        background-color: #5b9bd5;
        border-color: #5b9bd5;
    }

button#cancelButton {
    display: inline-block !important;
    font-family: Avenir Medium !important;
    /* font-weight: 400 !important; */
    /* color: #333; */
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;

     padding: .5rem 1.25rem; 
    /* font-size: .875rem; */
    line-height: 1.38889;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left:15px;
}

.hpsRow, .hpsExpirationRow, #hpsAddressSection > div {
    padding-bottom: 15px;
}

#hpsButtonRow {
    padding-top: 15px;

}


body {
    /*padding: 0px 0em 1.6em 0;*/
    margin: 0px 0px 5px 0px;
    background-color: #fff !important;
    background-image: none;
    padding: 10px;
    box-shadow: 0 0 20px rgba(194,202,202,.6);
    max-width: 333px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}



table.mainTable {
    margin: auto;
}
